{% verbatim %}
    <div class="page-inicio" ng-controller="registroCertificateFormCtrl">

        <!-- Contenido -->

        <div class="full-width contenido">
            <div class="contenido-container">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 data-i18n="id00397_home:app:registro:form">Formulario de Registro</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section class="panel panel-default">
                                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="id00040_home:app:registro:form">Formulario</span></strong></div>
                                <div class="panel-body">
                                    <!-- INICIO DEL FORMULARIO -->
                                    <form class="form-horizontal form-validation" name="form" role="accionista" ng-submit="submit()" novalidate>
                                        <!-- ALERTAS DE VALIDACIÓN -->
                                        <alert ng-if="showAlertsTop" ng-repeat="alert in errors" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>

                                        <!-- INFORMACIÓN DE LA CUENTA -->
                                        <fieldset>
                                            <legend data-i18n="id00006_home:app:registro:account-info">Información de la cuenta</legend>

                                            <!-- EMAIL -->
                                            <div class="form-group" hide-by-config="email">
                                                <div class="col-sm-3 control-label">
                                                    <label for="emailc" data-i18n="id00004_home:app:registro:email">Correo electrónico</label>
                                                    <span required-label="emailc"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="email" 
                                                           class="form-control" 
                                                           id="correo"
                                                           placeholder="id00004_home:app:registro:email"
                                                           data-ng-trim='false'
                                                           required 
                                                           data-ng-model="newAccionista.user.email"
                                                           data-i18n="i18n-placeholder"
                                                           />
                                                    <alert ng-if="showAlertsField && validation.email != undefined" class="well-sm" type="'danger'">{{validation.email}}</alert>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="small" data-i18n="id00008_home:app:registro:email-helper"></p>
                                                </div>
                                            </div>

                                            <!-- REPETIR EMAIL -->
                                            <div class="form-group" hide-by-config="emailc">
                                                <div class="col-sm-3 control-label">
                                                    <label for="emailc" data-i18n="id00005_home:app:registro:emailc">Repita correo electrónico</label>
                                                    <span required-label="emailc"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="text"
                                                           no-paste
                                                           class="form-control" 
                                                           id="correoc"
                                                           placeholder="id00005_home:app:registro:emailc"
                                                           data-ng-trim='false'
                                                           data-i18n ="i18n-placeholder"
                                                           required
                                                           data-ng-model="emailc"
                                                           validate-equals="newAccionista.user.email"
                                                           />
                                                    <alert ng-if="showAlertsField && validation.emailc != undefined" class="well-sm" type="'danger'">{{validation.emailc}}</alert>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="small" data-i18n="id00009_home:app:registro:emailc-helper"></p>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <!-- DATOS DE CONTACTO -->
                                        <fieldset>
                                            <legend data-i18n="id00010_home:app:registro:contact">Datos de contacto</legend>

                                            <!-- TIPO DE PERSONA -->
                                            <div class="form-group" hide-by-config="tipo-persona">
                                                <div class="col-sm-3 control-label">
                                                    <label for="tipo-persona" data-i18n="id00011_home:app:registro:person-kind">Tipo</label>
                                                    <span required-label="tipo-persona"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="ui-select">
                                                        <select name="tipo" id="tipo" required data-ng-model="newAccionista.accionista.personaType">
                                                            <option value="pf" i18n="id00036_home:app:registro:pf">PF</option>
                                                            <option value="pj" i18n="id00037_home:app:registro:pj">PJ</option>
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="small" data-i18n="id00017_home:app:registro:person-kind-helper">Indique si se trata de una persona física o jurídica</p>
                                                </div>
                                            </div>

                                            <!-- REPRESENTANTE -->
                                            <div class="form-group" hide-by-config="representative" ng-if="newAccionista.accionista.personaType == 'pj'">
                                                <div class="col-sm-3 control-label">
                                                    <label for="representative" data-i18n="id00038_home:app:registro:represented-by">Representado por</label>
                                                    <span required-label="representative"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="text" 
                                                           class="form-control" 
                                                           id="representante" 
                                                           placeholder="Representado por"
                                                           data-ng-model="newAccionista.accionista.representedBy"
                                                           ng-required="newAccionista.accionista.personaType == 'pj'"
                                                           >
                                                    <alert ng-if="showAlertsField && validation.representedBy != undefined" class="well-sm" type="'danger'">{{validation.representedBy}}</alert>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="small" data-i18n="id00039_home:app:registro:represented-by-helper"></p>
                                                </div>
                                            </div>


                                            <!-- NOMBRE -->
                                            <div class="form-group" hide-by-config="name">
                                                <div class="col-sm-3 control-label">
                                                    <label for="name" data-i18n="id00012_home:app:registro:name">Nombre</label>
                                                    <span required-label="name"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="text" 
                                                           class="form-control" 
                                                           id="nombre" 
                                                           placeholder="id00012_home:app:registro:name"
                                                           data-i18n="i18n-placeholder"
                                                           data-ng-model="newAccionista.accionista.name"
                                                           ng-disabled = "true"
                                                           required>
                                                    <alert ng-if="showAlertsField && validation.name != undefined" class="well-sm" type="'danger'">{{validation.name}}</alert>
                                                </div>
                                                <div class="col-sm-4">

                                                </div>
                                            </div>

                                            <!-- TELÉFONO -->
                                            <div class="form-group" hide-by-config="telephone">
                                                <div class="col-sm-3 control-label">
                                                    <label for="telephone" data-i18n="id00279_home:app:registro:telephone">Teléfono</label>
                                                    <span required-label="telephone"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="tel" 
                                                           class="form-control" 
                                                           id="telephone" 
                                                           placeholder="id00279_home:app:registro:telephone"
                                                           data-i18n="i18n-placeholder"
                                                           data-ng-model="newAccionista.accionista.telephone"
                                                           required-input="telephone">
                                                    <alert ng-if="showAlertsField && validation.telephone != undefined" class="well-sm" type="'danger'">{{validation.telephone}}</alert>
                                                </div>
                                                <div class="col-sm-4">

                                                </div>
                                            </div>

                                            <!-- TIPO DE DOCUMENTO -->
                                            <div class="form-group" hide-by-config="tipo-doc">
                                                <div class="col-sm-3 control-label">
                                                    <label for="tipo-doc" data-i18n="id00013_home:app:registro:doc-kind">Tipo de Documento</label>
                                                    <span required-label="tipo-doc"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <span class="ui-select">
                                                        <select name="tipoDoc" id="tipo-doc" required data-ng-model="newAccionista.accionista.documentType"
                                                                ng-options="typevalue as i18n(typelabel) for (typevalue, typelabel) in docTypes"
                                                                ng-disabled = "true">
                                                        </select>
                                                    </span>
                                                </div>
                                                <div class="col-sm-4">

                                                </div>
                                            </div>

                                            <!-- NÚMERO DE IDENTIFICACIÓN -->
                                            <div class="form-group" hide-by-config="numero-doc">
                                                <div class="col-sm-3 control-label">
                                                    <label for="numero-doc" data-i18n="id00014_home:app:registro:doc-num">Número de Documento</label>
                                                    <span required-label="number-doc"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <input type="text" 
                                                           class="form-control" 
                                                           id="numero-doc" 
                                                           placeholder="id00014_home:app:registro:doc-num"
                                                           data-i18n="i18n-placeholder"
                                                           ng-model="newAccionista.accionista.documentNum"
                                                           numero-doc="newAccionista.accionista.documentNum"
                                                           tipo-doc="newAccionista.accionista.documentType"
                                                           validate-doc
                                                           ng-disabled = "true">
                                                    <alert ng-if="showAlertsField && validation.documentNum != undefined" class="well-sm" type="'danger'">{{validation.documentNum}}</alert>
                                                </div>
                                                <div class="col-sm-4">

                                                </div>
                                            </div>

                                            <!-- NÚMERO DE ACCIONES -->
                                            <div class="form-group" hide-by-config="num-shares">
                                                <div class="col-sm-3 control-label">
                                                    <label for="num-shares" data-i18n="id00015_home:app:registro:shares-num">Número de Acciones</label>
                                                    <span required-label="num-shares"></span>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="input-group">
                                                        <input type="text"
                                                               class="form-control"
                                                               id="numero-acciones"
                                                               data-ng-model="newAccionista.accionista.sharesNum"
                                                               required
                                                               dotted-number
                                                               dotted-min="{{accionesMin}}">
                                                        <alert ng-if="showAlertsField && validation.num_shares != undefined" class="well-sm" type="'danger'">{{validation.num_shares}}</alert>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <p class="small" data-i18n="id00016_home:app:registro:shares-num-helper"></p>
                                                </div>
                                            </div>

                                            <!-- SUBIR DOCUMENTO -->
                                            <div class="form-group" ng-file-drop hide-by-config="doca">
                                                <upload-document
                                                    description  ="id00018_home:app:registro:documentacion-file"
                                                    instructions ="id00019_home:app:registro:documentacion-file-helper"
                                                    title        ="documentacion-file"
                                                    uploaderID   ="documentacionAUploader"
                                                    ispublic     ="true"
                                                    label        ="['doca', 'doca-certificate']"
                                                    />
                                            </div>
                                            <alert ng-if="showAlertsField && validation.DocumentA != undefined" class="well-sm" type="'danger'">{{validation.DocumentA}}</alert>

                                            <!-- SUBIR DOCUMENTO B -->
                                            <div class="form-group" ng-file-drop hide-by-config="docb">
                                                <upload-document
                                                    description  ="id00410_home:app:registro:documentacion-acciones-file"
                                                    instructions ="id00411_home:app:registro:documentacion-acciones-file-helper"
                                                    title        ="titularidad-file"
                                                    uploaderID   ="documentacionBUploader"
                                                    ispublic     ="true"
                                                    label        ="['docb', 'docb-certificate']"
                                                    />
                                            </div>
                                            <alert ng-if="showAlertsField && validation.DocumentB != undefined" class="well-sm" type="'danger'">{{validation.DocumentB}}</alert>

                                        </fieldset>

                                        <!-- LOPD + CONFIRMAR -->
                                        <fieldset>
                                            <div hide-by-config="LOPD">
                                                <legend data-i18n="id00032_home:app:registro:lopd">LOPD</legend>
                                                <alert ng-if="showAlertsField && validation.LOPD != undefined" class="well-sm" type="'danger'">{{validation.LOPD}}</alert>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-3">

                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="small" data-i18n="id00033_home:app:registro:lopd-helper"></p>
                                                    <label class="ui-checkbox">
                                                        <input name="checkbox1" 
                                                               type="checkbox" 
                                                               name="LOPD" 
                                                               id="LOPD" 
                                                               data-ng-model="newAccionista.LOPD" 
                                                               required
                                                               >
                                                        <span data-i18n="id00034_home:app:registro:agree">Los datos introducidos son correctos</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-offset-3 col-sm-9">
                                                    <button type="submit" class="btn btn-success" data-i18n="id00035_home:app:registro:confirm" anchor>Confirmar</button>
                                                </div>
                                                <script type="text/ng-template" id="myModalContent.html">
                                                    <div class="modal-header">
                                                    <h3 i18n="id00277_app:registro:registering">Registrando</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                    <progressbar class="progressbar-sm progress-striped active" value="100"></progressbar>
                                                    </div>
                                                    <div class="modal-footer">

                                                    </div>
                                                </script>
                                            </div>
                                        </fieldset>
                                    </form>
                                    <!-- FIN DEL FORMULARIO -->
                                </div>
                            </section>
                        </div>
                    </div><!-- /row -->

                </div><!-- /container -->



            </div>
        </div><!-- contenido -->



        <!-- / contenido -->

    </div>

    <div class="abertis-footer container-full"> 
        <footer>
            <div class="contact">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 col-md-6">
                            <h5>Contacto</h5>

                            <div class="row">
                                <div class="col-sm-6">
                                    <h6>Barcelona</h6>

                                    <p>
                                        Avinguda de Pedralbes, 17<br>
                                        08034 Barcelona<br>
                                        <a href="mailto:abertis@abertis.com">abertis@abertis.com</a><br>
                                        Tel. 932 305 000
                                    </p>

                                    <p>
                                        <a href="https://maps.google.com/maps?q=Avinguda+de+Pedralbes,+17+08034+Barcelona">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

                                            Cómo llegar
                                        </a>
                                    </p>
                                </div>

                                <div class="col-sm-6">
                                    <h6>Madrid</h6>

                                    <p>
                                        Paseo de la Castellana, 39<br>
                                        28046 Madrid<br>
                                        <a href="mailto:abertis@abertis.com">abertis@abertis.com</a><br>
                                        Tel. 915 951 000
                                    </p>

                                    <p>
                                        <a href="https://maps.google.com/maps?q=Paseo+de+la+Castellana,+39+28046+Madrid">
                                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>

                                            Cómo llegar
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="hidden-sm col-md-1">
                        </div>

                        <div class="col-sm-5">
                           
                        </div>
                    </div>
                </div>
            </div>

            <div class="last">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#/app/inicio" data-i18n="id00068_home:footer:home">Inicio</a>
                                    </li>

                                    <li>
                                        <a href="#/app/contactar" data-i18n="id00069_home:footer:contact">Contactar</a>
                                    </li>

                                    <li>
                                        <a href="#/app/requisitos" data-i18n="id00070_home:footer:requirements">Requisitos</a>
                                    </li>
                                    
                                    <li data-i18n="id00419_home:document:rules"></li>
                                    
                                    <li data-i18n="id00420_home:document:rules"> </li>
                                    

                                </ul>
                            </nav>

                            <span>©2016 Abertis</span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- abertis-footer container-full -->



{% endverbatim %}

