{% verbatim %}
    <div class="page" ng-controller="peticionAdminCtrl">

        <section class="panel panel-default">
            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Petición</strong></div>
            <div class="panel-body">


                <form class="form-horizontal" role="form">


                    <fieldset class="titulo-item">
                        <legend>Petición</legend>

                        <div class="form-group">
                            <label for="item.title" class="col-sm-3 control-label">Título</label>
                            <div class="col-sm-9">
                                <h4 ng-bind-html="item.title"></h4>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="correoc" class="col-sm-3 control-label">Cuerpo</label>
                            <div class="col-sm-9">
                                <p ng-bind-html="item.description | nl2br"></p>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Revisión de comentarios</legend>
                        <div class="form-group">
                            <label for="correoc" class="col-sm-3 control-label">Comentarios</label>
                            <div class="col-sm-9">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="col-sm-2">Autor</th>
                                                <th class="col-sm-8">Cometarios</th>
                                                <th class="col-sm-2">Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="item.messages.length === 0">
                                                <td></td>
                                                <td>No hay datos disponibles</td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="message in item.messages">
                                                <td>
                                                    {{message.autor.isAdmin ? message.autor.username : message.autor.name}}
                                                </td>
                                                <td ng-bind-html="message.body | nl2br">
                                                </td>
                                                <td class="cell-middle">{{message.date_time | date: "dd-MM-yyyy&nbsp;hh:mm"}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend i18n="id00230_app:item:comment-for-shareholder">Comentario para el accionista</legend>
                        <div class="form-group">
                            <label for="correoc" class="col-sm-3 control-label">Comentario</label>
                            <div class="col-sm-9">
                                <textarea name="" id="texto-cuerpo" class="form-control" rows="4" entities-decode ng-model="item.message"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3"></label>
                            <label class="ui-checkbox">
                                <input name="notify" type="checkbox" data-ng-model="sendMail">
                                <span>Notificar vía e-mail</span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success col-sm-offset-3" ng-click="sendComment()" ng-disabled="!item.message || item.message == '' || loading">Enviar comentario</button>
                        </div>
                    </fieldset>


                    <fieldset>
                        <legend i18n="id00110_app:foro:item:adhesions">Adhesiones</legend>
                        <div class="form-group">
                            <label for="correoc" class="col-sm-3 control-label">Adhesiones</label>
                            <div class="col-sm-9">


                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th i18n="id00111_app:foro:adhesion:acc-name" >Nombre del accionista</th>
                                                <th i18n="id00115_app:foro:adhesion:email"    >Email</th>
                                                <th i18n="id00113_app:foro:adhesion:telephone">Teléfono</th>
                                                <th i18n="id00228_app:adhesion:date"          >Fecha</th>
                                                <th i18n="id00114_app:foro:adhesion:shares"   >Acciones</th>
                                                <th i18n="id00229_app:adhesion:state"         >Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-if="adhesions.length === 0">
                                                <td>No hay datos disponibles</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr ng-repeat="adhesion in adhesions" ng-click="goToAdhesion(adhesion.id)">
                                                <td ng-bind-html="adhesion.accionista.name"></td>
                                                <td ng-bind-html="adhesion.accionista.user.email"></td>
                                                <td ng-bind-html="adhesion.accionista.telephone"></td>
                                                <td>{{adhesion.date_time | date: "dd-MM-yyyy&nbsp;hh:mm"}}</td>
                                                <td>{{adhesion.accionista.shares_num | formattedNumber}}</td>
                                                <td>{{i18n(stateTags[adhesion.state])}}</td>
                                            </tr>
                                            <tr ng-if="adhesions.length !== 0">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td><b>Total</b></td>
                                                <td>{{total_shares | formattedNumber}}</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table> 
                                </div>


                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Acciones</legend>

                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <table>
                                    <tr>
                                        <td><label class="ui-radio"><input name="state" type="radio" value="1" data-ng-model="item.state"><span data-i18n="id00053_app:states:pending">Pendiente</span></label></td>
                                        <td><!--<info-modal tag='' />--></td>
                                    <tr>
                                    <tr>
                                        <td><label class="ui-radio"><input name="state" type="radio" value="3" data-ng-model="item.state"><span data-i18n="id00054_app:states:retornate">Retornar</span></label></td>
                                        <td><!--<info-modal tag='' />--></td>
                                    <tr>
                                    <tr>
                                        <td><label class="ui-radio"><input name="state" type="radio" value="2" data-ng-model="item.state"><span data-i18n="id00055_app:states:public">Publicar</span></label></td>
                                        <td><!--<info-modal tag='' />--></td>
                                    <tr>
                                    <tr>
                                        <td><label class="ui-radio"><input name="state" type="radio" value="4" data-ng-model="item.state"><span data-i18n="id00056_app:states:reject">Rechazar</span></label></td>
                                        <td><!--<info-modal tag='' />--></td>
                                    <tr>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9" ng-disabled="loading">
                                <button type="submit" class="btn btn-success" ng-click="confirm()" ng-disabled="item.state == initialState">Guardar</button> 
                                <button type="submit" class="btn btn-success" ng-click="clear()">Limpiar datos</button>
                                <a href = "#/app/foro/peticiones" type="submit" class="btn btn-success">Volver peticiones</a>
                            </div>
                        </div>
                    </fieldset>
                </form> 

            </div>
        </section>


    </div>


{% endverbatim %}