{% verbatim %}
    <div class="page" ng-controller="solicitudAdminCtrl">

        <section class="panel panel-default">       

            <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Solicitud</strong></div>
            <div class="panel-body">


                <form class="form-horizontal" role="form">
                    <fieldset>
                        <legend>Solicitud</legend>

                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-sm-2">Autor</th>
                                        <th class="col-sm-7">Contenido</th>
                                        <th class="col-sm-2">Fecha</th>
                                        <th class="col-sm-1 text-center">Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{thread.autor.name}}</td>
                                        <td><span ng-bind-html="thread.body | nl2br"></span></td>
                                        <td>{{thread.date_time | date: "dd-MM-yyyy&nbsp;hh:mm"}}</td>
                                        <td></td>
                                    </tr>
                                    <tr ng-repeat="message in thread.messages">
                                        <td>
                                            {{message.autor.isAdmin ? message.autor.username : message.autor.name}}
                                        </td>
                                        <td>
                                            <span ng-bind-html="message.body | nl2br"></span>
                                            <ul class="list-docs list-docs-message list-unstyled" ng-repeat="document in message.documents">
                                                <li>
                                                    <span class="glyphicon glyphicon-download-alt"></span>
                                                    <a ng-click="downloadDocument(document.id)">{{document.nombre_externo}}</a>
                                                </li>
                                            </ul>
                                        </td>
                                        <td>{{message.date_time | date: "dd-MM-yyyy&nbsp;hh:mm"}}</td>
                                        <td class="text-center">
                                            <a ng-click="goToMessage(message)"><span class="glyphicon glyphicon-pencil"></span></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 

                        </div>



                    </fieldset>

                    <fieldset>
                        <legend>Respuesta</legend>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <textarea class="form-control"
                                          rows = "15"
                                          ng-model = "message"></textarea>
                            </div>
                        </div>
                        <div class="form-group" ng-if="thread.state != 2 && thread.state != 3">
                            <div class="col-sm-9 col-sm-offset-3">
                                <label class="ui-checkbox"><input name="retornateThread" type="checkbox" data-ng-model="thread.retornateThread" ng-true-value="1" ng-false-value="0"><span>Comportará cambio de estado a Resuelta en privado</span></label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9 col-sm-offset-3">
                                <div class="btn btn-success" ng-disabled="message == ''" ng-click="sendMessage(message)">Enviar mensaje</div>
                            </div>
                        </div>

                    </fieldset>

                    <!--fieldset>
                        <legend>Documentos</legend>
                        <div class="form-group" ng-file-drop>
                            <upload-document
                                description  ="Adjuntar documentos"
                                instructions =""
                                title        ="attached-file"
                                uploaderID   = "{{uploaderID}}"
                                isolatedtoken
                                />
                        </div>
                    </fieldset-->

                    <fieldset>
                        <legend>Estado</legend>

                        <div class="form-group">

                            <div class="col-sm-9 col-sm-offset-3">
                                <table>
                                    <tr>
                                        <td><label class="ui-radio"><input name="state" type="radio" value="1" data-ng-model="thread.state"><span>Pendiente (Privado)</span></label></td>
                                        <td><info-modal tag='Responder al accionista para aclarar aspectos de su solicitud. La solicitud seguirá abierta. La solicitud no será visible para otros accionistas.' /></td>
                                    <tr>
                                    <tr>
                                        <td><label class="ui-radio"><input name="state" type="radio" value="3" data-ng-model="thread.state"><span>Resuelta (Privado)</span></label></td>
                                        <td><info-modal tag='Responder al accionista y cerrar la solicitud. La solicitud no será visible para otros accionistas.' /></td>
                                    <tr>
                                    <tr>
                                        <td><label class="ui-radio"><input name="state" type="radio" value="2" data-ng-model="thread.state"><span>Resuelta (Público)</span></label></td>
                                        <td><info-modal tag='Responder al accionista y cerrar la solicitud. La solicitud será visible para todos los accionistas.' /></td>
                                    <tr>
                                    <tr>
                                        <td><label class="ui-radio"><input name="state" type="radio" value="4" data-ng-model="thread.state"><span data-i18n="id00056_app:states:reject">Rechazar</span></label></td>
                                        <td><info-modal tag='Rechazar la petición si ésta no es pertinente a esta plataforma.' /></td>
                                    <tr>
                                    <tr>
                                        <td><label class="ui-checkbox"><input name="locked" type="checkbox" data-ng-model="thread.locked" ng-true-value="1" ng-false-value="0"><span data-i18n="id00131_app:states:locked">Bloquear</span></label></td>
                                        <td><info-modal tag='Bloquear la petición' /></td>
                                    <tr>
                                </table>
                            </div>




                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9" ng-disabled="loading">
                                <button type="submit" class="btn btn-success" ng-click="setState()">Cambiar estado</button>
                            </div>
                        </div>
                    </fieldset>

                </form> 

            </div> <!-- /panel-body -->

        </section>
    </div>


{% endverbatim %}